@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url(./Img/paldea.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

header {
  background-color: rgba(30, 30, 90, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  color: #fcff3c;
  cursor: default;
  user-select: none;
}

section {
  /* background-color: #c34238; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons {
  margin: 20px 20px 10px 20px;
  /* background-color: #c34238; */
}

button {
  background-color: rgba(30, 30, 90, 0.8);
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 1px black;
}
button:active {
  box-shadow: none;
}

.random-poke {
  background: linear-gradient(
    30deg,
    rgb(255, 255, 255, 0.4) 45%,
    rgb(255, 255, 255, 1),
    rgb(255, 255, 255, 0.4) 55%
  );
  background-size: 600% 600%;
  animation: gradient-animation 4s ease infinite;
  /* background-color: rgba(255, 255, 255, 0.5); */
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 240px;
  border-radius: 20%;
  border: 1px solid rgb(255, 255, 255, 0.55);
}

h2 {
  color: rgba(30, 30, 90, 0.9);
}

.img-container {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 100%;
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.pokemon-team {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
  width: 16%;
  margin: 0.33%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  border: 5px groove rgb(255, 255, 255, 0.6);
  border-radius: 10%;
}
.pokemon-team:hover {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
}
.sprite-team {
  margin: 0 20%;
}
h3 {
  text-align: center;
  color: #2b3a55;
  font-size: 90%;
  align-self: center;
}
h3::selection {
  background: rgb(255, 255, 255, 0.55);
}
img {
  user-select: none;
}

.shiny {
  box-shadow: 0 0 5px #3cf5e0;
  background: linear-gradient(
    45deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}
.shiny:hover {
  box-shadow: 0 0 20px #3cf5e0;
  background: linear-gradient(
    135deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
  transition: 1s;
}
.shiny-team {
  box-shadow: 0 0 5px #3cf5e0;
  background: linear-gradient(
    30deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
}
.shiny-team:hover {
  box-shadow: 0 0 20px #3cf5e0;
  background: linear-gradient(
    120deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
  transition: 1s;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
