@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-primary: rgba(50, 50, 70, 0.8);
  --color-text: #f9f9f9;
}

body {
  background: url(./img/paldea.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  color: var(--color-text);
}

header {
  background-color: var(--color-primary);
  box-shadow: 0px 0px 5px 10px var(--color-primary);
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  cursor: default;
  user-select: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  margin: 10px;
  background-color: var(--color-primary);
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0px 1px 3px rgba(50, 50, 70), 0px 2px 3px rgba(50, 50, 70);
}

button:active {
  box-shadow: none;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
  box-shadow: inset 0px 1px 3px rgba(50, 50, 70), 0px 2px 3px rgba(50, 50, 70);
}

.poke-random {
  margin: 20px 20px 10px 20px;
  background: linear-gradient(
    30deg,
    var(--color-primary) 40%,
    rgb(255, 255, 255, 0.8),
    var(--color-primary) 60%
  );
  background-size: 600% 600%;
  animation: gradient-animation 4s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 230px;
  min-width: 230px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 5px 5px var(--color-primary);
}

h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.img-poke-random {
  max-width: 180px;
  max-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.img-poke-random img {
  height: 100%;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-team {
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  border: none;
  margin: 15px;
  position: relative;
  box-shadow: 0px 2px 2px var(--color-primary);
  padding: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.poke-team.show {
  opacity: 1;
}

span {
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
}

.img-poke-team {
  max-width: 110px;
  max-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1.5s ease-in;
}
.img-poke-team.show {
  opacity: 1;
}

.img-poke-team img {
  width: 100%;
}

.remove {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 20px;
  width: 20px;
  color: rgba(255, 255, 255, 0.2);
  text-transform: capitalize;
  font-weight: bold;
}

.remove:hover {
  color: var(--color-text);
  cursor: pointer;
}

.shiny {
  background: linear-gradient(
    135deg,
    rgb(3, 252, 231, 0.8),
    rgb(238, 179, 242, 0.8),
    rgb(3, 252, 231, 0.8),
    rgb(252, 240, 3, 0.8),
    rgb(3, 252, 231, 0.8)
  );
  background-size: 800% 800%;
  animation: gradient-animation 4s ease infinite;
  position: relative;
  color: var(--color-primary);
}

.shiny::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: url("./img/shiny.svg");
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader {
  -webkit-animation: 1s rotate linear infinite;
  animation: 1s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@media (max-width: 470px) {
  body {
    background: url(./img/paldea-min.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .poke-random {
    padding: 5px;
    height: 160px;
    min-width: 160px;
    border-radius: 10px;
  }

  h2 {
    font-size: 15px;
  }

  .img-poke-random {
    max-width: 130px;
    max-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poke-team {
    height: 118px;
    width: 118px;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
  }

  .img-poke-team {
    max-width: 80px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
  }
}
