* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: pokemonSolid;
  src: url(./Font/pokemonSolid.ttf);
}
@font-face {
  font-family: PokemonClassic;
  src: url(./Font/PokemonClassic.ttf);
}

.container {
  background: url(./Img/paldea.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 800px;
}

.header {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}
h1 {
  font-family: pokemonSolid;
  -webkit-text-stroke: 1px #277bc0;
  color: #ffc93c;
  text-align: center;
  font-size: 35px;
  font-stretch: 10px;
  cursor: default;
  user-select: none;
}

.section {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
}
.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main {
  background: rgb(255, 255, 255, 0.7);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 200px;
  border-radius: 20%;
  border: 5px groove rgb(255, 255, 255, 0.55);
  transition: 1s;
}
.main:hover {
  background: rgb(255, 255, 255, 0.95);
}
button {
  background-color: #e54d42;
  box-shadow: 0px 6px 0px #c34238;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0px;
  padding: 6px 10px;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  opacity: 1;
}
button:active {
  top: 2px;
  box-shadow: 0px 4px 0px #c34238;
}

h2 {
  font-family: PokemonClassic;
  font-size: 90%;
  color: #2b3a55;
}
h2::selection {
  background: rgb(255, 255, 255, 0.55);
}
.sprite-main {
  height: 150px;
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.pokemon-team {
  background: rgb(255, 255, 255, 0.7);
  width: 16%;
  margin: 0.33%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  border: 5px groove rgb(255, 255, 255, 0.6);
  border-radius: 10%;
}
.pokemon-team:hover {
  background: rgb(255, 255, 255, 0.95);
  transition: 1s;
}
.sprite-team {
  margin: 0 20%;
}
h3 {
  text-align: center;
  font-family: PokemonClassic;
  color: #2b3a55;
  font-size: 90%;
  align-self: center;
}
h3::selection {
  background: rgb(255, 255, 255, 0.55);
}
img {
  user-select: none;
}

.shiny {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background: rgb(255, 255, 0, 0.7);
  transition: 1s;
}
.shiny:hover {
  box-shadow: 0 0 20px rgb(255, 255, 0);
  background: rgb(255, 255, 0, 0.95);
}
.shiny-team {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  background: rgb(255, 255, 0, 0.7);
  transition: 1s;
}
.shiny-team:hover {
  box-shadow: 0 0 20px rgb(255, 255, 0, 0.3);
  background: rgb(255, 255, 0, 0.95);
}
