* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: pokemonSolid;
  src: url(./Font/pokemonSolid.ttf);
}
@font-face {
  font-family: PokemonClassic;
  src: url(./Font/PokemonClassic.ttf);
}

.container {
  background: url(./Img/paldea.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 1000px;
}

.header {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}
h1 {
  font-family: pokemonSolid;
  -webkit-text-stroke: 1px #277bc0;
  color: #ffc93c;
  text-align: center;
  font-size: 50px;
  font-stretch: 10px;
}

.section {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80%;
}
.buttons {
  margin-top: 10px;
}

.main {
  background: rgb(255, 255, 255, 0.55);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 35%;
  min-width: 300px;
  border-radius: 20%;
  border: 5px groove rgb(255, 255, 255, 0.55);
}
button {
}
h2 {
  margin-top: 20px;
  font-family: PokemonClassic;
  font-size: 25px;
  color: #2b3a55;
}
.sprite-main {
  border-radius: 50%;
  min-height: 150px;
  min-width: 150px;
  width: 65%;
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.pokemon-team {
  width: 33.333%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
}
.sprite-team {
  background: rgb(255, 255, 255, 0.55);
  margin: 0 20%;
  border-radius: 50%;
  border: 1px solid black;
  border: 5px groove rgb(255, 255, 255, 0.55);
}
h3 {
  background: rgb(255, 255, 255, 0.55);
  text-align: center;
  margin-top: 20px;
  font-family: PokemonClassic;
  color: #2b3a55;
  width: 80%;
  align-self: center;
  border: 5px groove rgb(255, 255, 255, 0.55);
}
