* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: pokemonSolid;
  src: url(./Font/pokemonSolid.ttf);
}
@font-face {
  font-family: PokemonClassic;
  src: url(./Font/PokemonClassic.ttf);
}

.container {
  background: url(./Img/paldea.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 800px;
}

.header {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0, 0.4),
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 150% 150%;
  animation: gradient-animation 4s ease infinite;
  width: 100%;
}
h1 {
  font-family: pokemonSolid;
  -webkit-text-stroke: 1px #277bc0;
  color: #ffc93c;
  text-align: center;
  font-size: 35px;
  font-stretch: 10px;
  cursor: default;
  user-select: none;
}

.section {
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
}
.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.main {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 200px;
  border-radius: 20%;
  border: 5px groove rgb(255, 255, 255, 0.55);
}
.main:hover {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
  transition: 1s;
}
button {
  background-color: #e54d42;
  box-shadow: 0px 6px 0px #c34238;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0px;
  padding: 6px 10px;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  opacity: 1;
}
button:active {
  top: 2px;
  box-shadow: 0px 4px 0px #c34238;
}

h2 {
  font-family: PokemonClassic;
  font-size: 90%;
  color: #2b3a55;
}
h2::selection {
  background: rgb(255, 255, 255, 0.55);
}
.sprite-main {
  height: 150px;
}

.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.pokemon-team {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
  width: 16%;
  margin: 0.33%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;
  border: 5px groove rgb(255, 255, 255, 0.6);
  border-radius: 10%;
}
.pokemon-team:hover {
  background: linear-gradient(
    30deg,
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255, 0.9),
    rgb(0, 0, 0, 0.4)
  );
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
}
.sprite-team {
  margin: 0 20%;
}
h3 {
  text-align: center;
  font-family: PokemonClassic;
  color: #2b3a55;
  font-size: 90%;
  align-self: center;
}
h3::selection {
  background: rgb(255, 255, 255, 0.55);
}
img {
  user-select: none;
}

.shiny {
  box-shadow: 0 0 5px #3cf5e0;
  background: linear-gradient(
    45deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}
.shiny:hover {
  box-shadow: 0 0 20px #3cf5e0;
  background: linear-gradient(
    135deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
  transition: 1s;
}
.shiny-team {
  box-shadow: 0 0 5px #3cf5e0;
  background: linear-gradient(
    30deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 6s ease infinite;
}
.shiny-team:hover {
  box-shadow: 0 0 20px #3cf5e0;
  background: linear-gradient(
    120deg,
    rgb(252, 240, 3, 0.7),
    rgb(3, 252, 231, 0.7),
    rgb(238, 179, 242, 0.7),
    rgb(5, 245, 45, 0.7)
  );
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
  transition: 1s;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
